{% extends "base.html" %}

{% block title %}
Aegis Url Checker
{% endblock %}

{% block body %}
        <div class="d-flex justify-content-center align-items-center" style="min-height: 50vh; height: fit-content;">
        <div class="card text-center" style="height: fit-content;">
            <div class="card-body">
                <img src="{{url_for('static', filename='aegis.png')}}" class="card-img-top" style="max-width: 50%">
                <h5 class="card-title">Aegis Url Checker</h5>
                <form method="POST" action="{{ url_for('api.api') }}">
                    <input type="text" class="form-control" name="url" placeholder="Enter url">
                    <button type="submit" class="btn btn-primary mt-2">Check</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
