{% extends "base.html" %}

{% block title %}
  {% if reason is not none %}
    {% if reason == "insecure" %}
      Insecure connection
    {% endif %}
    {% if reason == "bad_protocol" %}
      Incorrect protocol
    {% endif %}
    {% if reason == "dangerous" %}
      Dangerous Website!
    {% endif %}
    {% if reason == "success" %}
      Verified! Redirecting soon...
    {% endif %}
  {% else %}
    Error
  {% endif %}
{% endblock %}


{% block body %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh; height: fit-content;">
        <div class="card text-center" style="height: fit-content;">
            <div class="card-body">
      {% if reason is not none %}
        {% if reason == "insecure" %}
          <img src="{{url_for('static', filename='mistake.png')}}" class="card-img-top" style="max-width: 50%">
          <h5 class="card-title">Can't connect with HTTPS</h5>
        {% endif %}

        {% if reason == "bad_protocol" %}
          <img src="{{url_for('static', filename='mistake.png')}}" class="card-img-top" style="max-width: 50%">
          <h5 class="card-title">This doesn't appear to be a hypertext protocol</h5>
        {% endif %}

        {% if reason == "dangerous" %}
          <img src="{{url_for('static', filename='insecure.png')}}" class="card-img-top" style="max-width: 50%">
          <h5 class="card-title">Dangerous Website!</h5>
        {% endif %}

        {% if reason == "success" and target_url is not none and target_url != "" %}
          <img src="{{url_for('static', filename='secure.png')}}" class="card-img-top" style="max-width: 50%">
          <h5 class="card-title">Website Verified! Redirecting now...</h5>
          <script>
            setTimeout(function() {
              window.location.href = '{{ target_url }}';
            }, 1000);
          </script>
        {% endif %}

      {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
