<div style="display: flex; flex-direction: column; width: 250px;">
    <div style="background-color: white; width: 100%; height: 100%; position:absolute; display: flex; justify-content: center; align-items: center;">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <img src="aegis.png" class="card-img-top">
    <button class="btn-primary" id="check-page" style="margin-top: 5vh;">Check page</button>
</div>